bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log

packages/
*.nupkg
*.snupkg
.nuget/

.ionide/
.idea/
*.csproj.user
*.csproj.vscode

.vs/
_ReSharper*/
*.ReSharper
*.DotSettings.user
*_i.c
*_p.c
*.cache
*.source

[Tt]humbs.db
[Dd]esktop.ini
*.DS_Store
$RECYCLE.BIN/

*.pfx
*.key
